p {
    color: red;
    font-size: 22px;
    font-weight: 800;
    text-align: right;
    border: 5px dashed green;
}

h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
    border: 10px solid green;
}

button {
    color: lightblue;
    font-size: 30px;
    font-weight: 900;
    border: 2px double black;
}
