#paragraph1 {
  color: rgb(255, 255, 255);
}

#paragraph2 {
  color: rgb(0, 0, 0);
}

#paragraph3 {
  color: rgb(255, 0, 0);
}

#paragraph4 {
  color: rgb(0, 255, 0);
}

#paragraph5 {
  color: rgb(0, 0, 255);
}

#paragraph6 {
  color: rgb(255, 255, 0);
}

#paragraph7 {
  color: rgb(0, 255, 255);
}

#paragraph8 {
  color: rgb(138, 43, 226);
}
