#div1 {
    color: white;
    background-color: rgb(255, 99, 71);
    padding: 20px;
    margin: 10px;
}

#div2 {
    color: black;
    background-color: rgb(70, 130, 180);
    padding: 20px;
    margin: 10px;
}

#div3 {
    color: white;
    background-color: rgb(34, 139, 34);
    padding: 20px;
    margin: 10px;
}

#div4 {
    color: white;
    background-color: rgb(255, 215, 0);

    padding: 20px;
    margin: 10px;
}

#div55 {
    color: white;
    background-color: rgb(255, 105, 180);
    padding: 20px;
    margin: 10px;
}